In [1]:
## Numeric Data Types
# integer variable.
a=100
print("The type of variable having value", a, " is ", type(a))

# float variable.
c=20.345
print("The type of variable having value", c, " is ", type(c))

# complex variable.
d=10+3j
print("The type of variable having value", d, " is ", type(d))

The type of variable having value 100  is  <class 'int'>
The type of variable having value 20.345  is  <class 'float'>
The type of variable having value (10+3j)  is  <class 'complex'>

In [2]:
## String Data Type
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [6]:
##List Data Type
list = ['abcd', 143, 34.45, 'John', 56.7 ]
tinylist = [123, 'john']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 3rd 
print (list[2:])        # Prints elements starting from 3rd element
print (tinylist * 2)    # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 143, 34.45, 'John', 56.7]
abcd
[143, 34.45]
[34.45, 'John', 56.7]
[123, 'john', 123, 'john']
['abcd', 143, 34.45, 'John', 56.7, 123, 'john']

In [8]:
## tuple data type
tuple = ( 'abcd', 786 , 25.53, 'john', 80.62  )
tinytuple = (123, 'john')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples

('abcd', 786, 25.53, 'john', 80.62)
abcd
(786, 25.53)
(25.53, 'john', 80.62)
(123, 'john', 123, 'john')
('abcd', 786, 25.53, 'john', 80.62, 123, 'john')

In [ ]:
# DIfference 
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

In [9]:
# Range Data Type
for i in range(5):
  print(i)

0
1
2
3
4

In [10]:
for i in range(2, 5):
  print(i)

2
3
4

In [11]:
for i in range(1, 5, 2):
  print(i)

1
3

In [12]:
## Python Binary Data Types
# Bytes Data Type

# Using bytes() function to create bytes
b1 = bytes([65, 66, 67, 68, 69])  
print(b1)

b'ABCDE'

In [13]:
# Using prefix 'b' to create bytes
b2 = b'Hello'  
print(b2)

b'Hello'

In [14]:
## Python Bytearray Data Type
# Creating a bytearray from an iterable of integers
value = bytearray([72, 101, 108, 108, 111])  
print(value)

bytearray(b'Hello')

In [15]:
# Creating a bytearray by encoding a string
val = bytearray("Hello", 'utf-8')  
print(val)

bytearray(b'Hello')

In [16]:
## Python Memoryview Data Type
data = bytearray(b'Hello, world!')
view = memoryview(data)
print(view)

<memory at 0x0000022C65D12680>

In [17]:
import array
arr = array.array('i', [1, 2, 3, 4, 5])
view = memoryview(arr)
print(view)

<memory at 0x0000022C65D137C0>

In [18]:
data = b'Hello, world!'
# Creating a view of the last part of the data
view = memoryview(data[7:])  
print(view)

<memory at 0x0000022C65D12500>

In [19]:
## Dictionary Data Type
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [20]:
# Set Data Type
set1 = {123, 452, 5, 6}
set2 = {'Java', 'Python', 'JavaScript'}

print(set1)
print(set2)

{123, 452, 5, 6}
{'Java', 'Python', 'JavaScript'}

In [21]:
# Boolean Data Type
a = True
# display the value of a
print(a)

# display the data type of a
print(type(a))

True
<class 'bool'>

In [22]:
# Returns false as a is not equal to b
a = 2
b = 4
print(bool(a==b))

# Following also prints the same
print(a==b)

# Returns False as a is None
a = None
print(bool(a))

# Returns false as a is an empty sequence
a = ()
print(bool(a))

# Returns false as a is 0
a = 0.0
print(bool(a))

# Returns false as a is 10
a = 10
print(bool(a))

False
False
False
False
False
True

In [23]:
## Python None Type
# Declaring a variable
# And, assigning a Null value (None)

x = None

# Printing its value and type
print("x = ", x)
print("type of x = ", type(x))

x =  None
type of x =  <class 'NoneType'>

In [24]:
## Getting Data Type
# Getting type of values
print(type(123))
print(type(9.99))

# Getting type of variables
a = 10
b = 2.12
c = "Hello"
d = (10, 20, 30)
e = [10, 20, 30]

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'list'>

In [25]:
## Setting Data Type
# Declaring a variable
# And, assigning an integer value

x = 10

# Printing its value and type
print("x = ", x)
print("type of x = ", type(x))

# Now, assigning string value to
# the same variable
x = "Hello World!"

# Printing its value and type
print("x = ", x)
print("type of x = ", type(x))

x =  10
type of x =  <class 'int'>
x =  Hello World!
type of x =  <class 'str'>

In [62]:
# Primitive and Non-primitive Data Types
# 1. Primitive Types 
#Integers
#Floats
#Booleans
#Strings
#2. Non-primitive Types
#Lists
#Tuples
#Dictionaries
#Sets

In [53]:
print("Conversion to integer data type")
a = int(1)     # a will be 1
b = int(2.2)   # b will be 2
c = int(3.3)   # c will be 3

print (a)
print (b)
print (c)

print("Conversion to floating point number")
a = float(1)     # a will be 1.0
b = float(2.2)   # b will be 2.2
c = float(3.3)   # c will be 3.3

print (a)
print (b)
print (c)

print("Conversion to string")
a = str (1)     # a will be "1" 
b = str(2.2)    # b will be "2.2"
c = str(3.3)    # c will be "3.3"

print (a)
print (b)
print (c)

Conversion to integer data type
1
2
3
Conversion to floating point number
1.0
2.2
3.3
Conversion to string

TypeError: 'str' object is not callable