#Different Types of Python Literals
Integer Literal
Float Literal
Complex Literal
String Literal
List Literal
Tuple Literal
Dictionary Literal

In [1]:
# Using Octal notation
x = 0O34
print ("0O34 in octal is", x, type(x))
# Using Hexadecimal notation
x = 0X1c
print ("0X1c in Hexadecimal is", x, type(x))

0O34 in octal is 28 <class 'int'>
0X1c in Hexadecimal is 28 <class 'int'>

In [2]:
# Float Scientific Notation Literal
# Using normal floating point notation
x = 1.23
print ("1.23 in normal float literal is", x, type(x))
# Using Scientific notation
x = 1.23E5
print ("1.23E5 in scientific notation is", x, type(x))
x = 1.23E-2
print ("1.23E-2 in scientific notation is", x, type(x))

1.23 in normal float literal is 1.23 <class 'float'>
1.23E5 in scientific notation is 123000.0 <class 'float'>
1.23E-2 in scientific notation is 0.0123 <class 'float'>

In [3]:
# Python Complex Literal
#Using literal notation of complex number
x = 2+3j
print ("2+3j complex literal is", x, type(x))
y = 2.5+4.6j
print ("2.5+4.6j complex literal is", x, type(x))

2+3j complex literal is (2+3j) <class 'complex'>
2.5+4.6j complex literal is (2+3j) <class 'complex'>

In [4]:
# Python String Literal
var1='hello'
print ("'hello' in single quotes is:", var1, type(var1))
var2="hello"
print ('"hello" in double quotes is:', var1, type(var1))
var3='''hello'''
print ("''''hello'''' in triple quotes is:", var1, type(var1))
var4="""hello"""
print ('"""hello""" in triple quotes is:', var1, type(var1))

'hello' in single quotes is: hello <class 'str'>
"hello" in double quotes is: hello <class 'str'>
''''hello'''' in triple quotes is: hello <class 'str'>
"""hello""" in triple quotes is: hello <class 'str'>

In [5]:
# String Literal With Double Quoted Inside String
var1='Welcome to "Python Tutorial" from TutorialsPoint'
print (var1)
var2="Welcome to 'Python Tutorial' from TutorialsPoint"
print (var2)

Welcome to "Python Tutorial" from TutorialsPoint
Welcome to 'Python Tutorial' from TutorialsPoint

In [6]:
#Python List Literal
L1=[1,"Ravi",75.50, True]
print (L1, type(L1))

[1, 'Ravi', 75.5, True] <class 'list'>

In [7]:
#Python Tuple Literal
T1=(1,"Ravi",75.50, True)
print (T1, type(T1))

(1, 'Ravi', 75.5, True) <class 'tuple'>

In [8]:
#Tuple Type Literal Without Parenthesis
T1=1,"Ravi",75.50, True
print (T1, type(T1))

(1, 'Ravi', 75.5, True) <class 'tuple'>

In [9]:
#Python Dictionary Literal
capitals={"USA":"New York", "France":"Paris", "Japan":"Tokyo",
"India":"New Delhi"}
numbers={1:"one", 2:"Two", 3:"three",4:"four"}
points={"p1":(10,10), "p2":(20,20)}

print (capitals, type(capitals))
print (numbers, type(numbers))
print (points, type(points))

{'USA': 'New York', 'France': 'Paris', 'Japan': 'Tokyo', 'India': 'New Delhi'} <class 'dict'>
{1: 'one', 2: 'Two', 3: 'three', 4: 'four'} <class 'dict'>
{'p1': (10, 10), 'p2': (20, 20)} <class 'dict'>