In [4]:
Number = 4000   # integer variable
Height = 5.35    # floting point variable
Name = "Raja"     # string variable
print("Number")
print("Height")
print("Name")

Number
Height
Name

In [8]:
# Deleting Python Variables
number = 2000
print("number")

del number
print("number")

number
number

In [16]:
## Getting Type of a Variable
x = "Ramesh"
x = 100
z = 20.67

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'float'>

In [17]:
## Casting Python Variables
x=str("Raja")
y=int (20)
z=float(10.46)

print("x=", x)
print("y=", y)
print("z=", z)

x= Raja
y= 20
z= 10.46

In [18]:
### Case-Sensitivity of Python Variables
age = 30
Age =56

print("age")
print("Age")

age
Age

In [24]:
## Python Variables - Multiple Assignment
a=b=c= 40
print(a,b,c)

40 40 40

In [25]:
a = b = c = 100

print (a)
print (b)
print (c)

100
100
100

In [26]:
a,b,c = 1,2,"ramesh"

print (a)
print (b)
print (c)

1
2
ramesh

In [32]:
## Python Variables - Naming Convention
counter = 100
_count  = 100
name1 = "Mohit"
name2 = "rohit"
Age  = 20
salary = 100000

print (counter)
print (_count)
print (name1)
print (name2)
print (Age)
print (salary)

100
100
Mohit
rohit
20
100000

In [33]:
width = 10
height = 20
area = width*height
perimeter = 2*(width+height)
print ("Area = ", area)
print ("Perimeter = ", perimeter)

Area =  200
Perimeter =  60

In [34]:
## Python Local Variables
def sum(x,y):
   sum = x + y
   return sum
print(sum(5, 10))

15

In [36]:
x = 5
y = 6
def sum ():
    sum = x + y 
    return sum
print (sum ())

11